block book_list
        div(class="w3-cell w3-threequarter w3-container")
            table(id="book_list" class="w3-table w3-bordered w3-hoverable w3-card-4" style="background: white")
                thead
                tr(class="w3-red")
                    th Шифр
                    th Название
                    th Автор
                    th Год издания
                    th Читатель
                    th Удалить
                tbody
                    - for (var book of books)
                        tr
                            -let url = `/book/${book.id}`
                            -let book_id = book.id;
                            td
                                a(href=url) #{book.id}
                            td #{book.name}
                            td #{book.author}
                            td #{book.year}
                            td
                                button(class="w3-button w3-hover-red w3-round" onclick= `document.getElementById('show_reader${book_id}').style.display='block'`) >
                            div(id=`show_reader${book_id}` class="w3-modal")
                                div(class="w3-modal-content")
                                    div(class="w3-container w3-red")
                                        h3 Читатель
                                    div(class="w3-container")
                                            if (book.free == "true")
                                                p Книга доступна в библиотеке
                                            else
                                                div(class="w3-container")
                                                    p Имя: #{book.readerName}
                                                    p Дата возврата: #{book.limit}
                                            span(class="w3-button w3-margin w3-right w3-dark-gray" onclick=`document.getElementById('show_reader${book_id}').style.display='none'`) Закрыть

                            td
                                button(class="w3-button w3-hover-red w3-round" onclick= `document.getElementById('delete_book${book_id}').style.display='block'`) x
                            div(id=`delete_book${book_id}` class="w3-modal")
                                div(class="w3-modal-content")
                                    div(class="w3-container w3-red")
                                        h3 Удаление книги
                                    div(class="w3-container")
                                        form(class="w3-form" action="/" method="POST")
                                            p Вы уверены, что хотите удалить книгу "#{book.name}", #{book.author} (id = #{book_id})?
                                            input(type="hidden" name="type" value="delete_book")
                                            input(type="hidden" name="id" value=book_id)
                                            div(class="w3-right")
                                                div(class="w3-container w3-margin")
                                                    div(class="w3-cell w3-margin")
                                                        button(class="w3-button w3-margin-right w3-red" type="submit") Удалить
                                                    div(class="w3-cell w3-margin")
                                                        span(class="w3-button  w3-dark-gray" onclick=`document.getElementById('delete_book${book_id}').style.display='none'`) Отмена

