doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/stylesheets/w3.css")
    body
        div(class="w3-container w3-dark-gray w3-text-white" style="text-shadow:1px 1px 0 #444")
            h1 Карточка книги #{book.id}

        div(class="w3-container w3-dark-gray")
            button(class="w3-btn w3-hover-red" onclick='location.href="/"') Вернуться к списку
            button(class="w3-btn w3-hover-red" onclick="document.getElementById('set_book_name').style.display='block'") Изменить название
            div(id="set_book_name" class="w3-modal")
                div(class="w3-modal-content")
                    div(class="w3-container w3-red")
                        h3 Изменить название книги
                    div(class="w3-container w3-margin")
                        form(class="w3-form" action=`/book/${book.id}` method="POST")
                                input(type="text" class="w3-input" name="book_name" placeholder="Новое название")
                                input(type="hidden" name="id" value=book.id)
                                input(type="hidden" name="type" value="set_book_name")
                                div(class="w3-right")
                                    div(class="w3-container w3-margin")
                                        div(class="w3-cell w3-margin")
                                            button(class="w3-button w3-margin-right w3-red" type="submit") ОК
                                        div(class="w3-cell w3-margin")
                                            span(class="w3-button  w3-dark-gray" onclick="document.getElementById('set_book_name').style.display='none'") Отмена

            button(class="w3-btn w3-hover-red" onclick="document.getElementById('set_author').style.display='block'") Изменить автора
            div(id="set_author" class="w3-modal")
                div(class="w3-modal-content")
                    div(class="w3-container w3-red")
                        h3 Изменить автора
                    div(class="w3-container w3-margin")
                        form(class="w3-form" action=`/book/${book.id}` method="POST")
                            input(type="text" class="w3-input" name="author" placeholder="Новое имя автора")
                            input(type="hidden" name="id" value=book.id)
                            input(type="hidden" name="type" value="set_author")
                            div(class="w3-right")
                                div(class="w3-сontainer w3-margin")
                                    div(class="w3-cell w3-margin")
                                        button(class="w3-button w3-margin-right w3-red" type="submit") ОК
                                    div(class="w3-cell w3-margin")
                                        span(class="w3-button  w3-dark-gray" onclick="document.getElementById('set_author').style.display='none'") Отмена

            button(class="w3-btn w3-hover-red" onclick="document.getElementById('set_year').style.display='block'") Изменить год
            div(id="set_year" class="w3-modal")
                div(class="w3-modal-content")
                    div(class="w3-container w3-red")
                        h3 Изменить год
                    div(class="w3-container w3-margin")
                        form(class="w3-form" action=`/book/${book.id}` method="POST")
                            input(type="text" class="w3-input" name="year" placeholder="Год")
                            input(type="hidden" name="id" value=book.id)
                            input(type="hidden" name="type" value="set_year")
                            div(class="w3-right")
                                div(class="w3-container w3-margin")
                                    div(class="w3-cell w3-margin")
                                        button(class="w3-button w3-margin-right w3-red" type="submit") ОК
                                    div(class="w3-cell w3-margin")
                                        span(class="w3-button  w3-dark-gray" onclick="document.getElementById('set_year').style.display='none'") Отмена

            if (book.free == "true")
                button(class="w3-btn w3-hover-red" onclick="document.getElementById('add_reader').style.display='block'") Добавить читателя
                div(id="add_reader" class="w3-modal")
                    div(class="w3-modal-content")
                        div(class="w3-container w3-red")
                            h3 Добавить читателя
                        div(class="w3-container w3-margin")
                            form(class="w3-form"  id="form_reader" action=`/book/${book.id}` method="POST")
                                input(type="text" class="w3-input" name="readerName" placeholder="Имя")
                                input(type="date" class="w3-input" name="limit" placeholder="Дата возврата")
                                input(type="hidden" name="id" value=book.id)
                                input(type="hidden" name="type" value="add_reader")
                                div(class="w3-right")
                                    div(class="w3-container w3-margin")
                                        div(class="w3-cell w3-margin")
                                            button(class="w3-button w3-margin-right w3-red" type="submit") Добавить
                                        div(class="w3-cell w3-margin")
                                            span(class="w3-button  w3-dark-gray" onclick="document.getElementById('add_reader').style.display='none'") Отмена

            if (book.free == "false")
                form(id="back_to_lib" action=`/book/${book.id}` method="POST" style="display:none;")
                    input(type="hidden" name="type" value="delete_reader")
                    input(type="hidden" name="id" value=book.id )
                button(class="w3-btn w3-hover-red" onclick="document.getElementById('back_to_lib').submit()") Вернуть в библиотеку




        div(class="w3-cell w3-half w3-margin")
            div(class="w3-card" style="width:60%")
                header(class="w3-container w3-red")
                    h3 Книга #{book.id}
                div(class="w3-container")
                    table(class="w3-table")
                        tr
                            td Название
                            td #{book.name}
                        tr
                            td Автор
                            td #{book.author}
                        tr
                            td Год
                            td #{book.year}
        if (book.free=="false")
            div(class="w3-cell w3-half w3-container")
                div(class="w3-card" style="width:50%")
                    header(class="w3-container w3-red")
                        h3 Читатель
                    div(class="w3-container")
                        p Имя: #{book.readerName}
                        p Дата возврата: #{book.limit}
